In [1]:
##Stats Packages - OLD WAY
from stats_descriptives.stats_descriptives_module import freqs, desc, xtab_cols, xtab_rows, xtab_all 
from stats_analysis.stats_analysis_module import chi_sq, chisq_posthoc_bon, ttest_1sample, ttest_2sample, ttest_paired, KW_shape_assumption, corr_pearson

ModuleNotFoundError: No module named 'stats_descriptives'

In [1]:
#NEED THIS FOR DF 
import pandas as pd

In [2]:
#trying things
from Stats_Package_TEST.stats_descriptives_module import *
from Stats_Package_TEST.stats_analysis_module import *

In [ ]:
#from stats_descriptives.stats_descriptives_module import *

In [3]:
hooray('hello')

'hello HOORAY!'

In [5]:
#create test df
df = pd.DataFrame({'one': [1,2,3,4], 'two': [4,5,6,7], 'three': ['cat', 'dog', 'birb', 'mouz'], 'four' : [4,4,4,4], 'five', ['', 'a', 'b', 'c']})
df

   one  two three  four
0    1    4   cat     4
1    2    5   dog     4
2    3    6  birb     4
3    4    7  mouz     4

In [6]:
#test freqs from descriptives
freqs(df, ['three'], False)

  Variable Values  Counts Percents
0    three    cat       1    25.0%
1    three    dog       1    25.0%
2    three   birb       1    25.0%
3    three   mouz       1    25.0%

In [7]:
#test chisq from analysis
chi_sq(df, ['three'], 'one', 0.05)

    IV     DV               Chi-square test  results Significance (<0.05)
0  one  three  Pearson Chi-square ( 9.0) =   12.0000
1  one  three                    p-value =    0.2133                False
2  one  three                 Cramer's V =    1.0000